<!doctype html>
<html lang="en">
<%- include ("includes/header.ejs") %>
  <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <%- include ("includes/navbar.ejs") %>
      <section id="home">
        <h1 class="text-center pt-10">Welcome to Sign Up page</h1>
        <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <% if((validationErrors?.length ?? 0) > 0) { %>
                  <div class="row">
                    <p>
                      <ul>
                          <% for(let error of validationErrors) { %>
                              <li>
                                <%= error.msg %>
                              </li>
                          <% } %>
                      </ul>
                    </p>
                  </div>
                  <% } %>

                <form action="/signup" method="post" class="form-signin">
                  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                  <label for="firstName" class="sr-only">First name</label>
                  <p>
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required autofocus>
                  </p>
                  <label for="lastName" class="sr-only">Last name</label>
                  <p>
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" autofocus>
                  </p>
                  <label for="email" class="sr-only">Email address</label>
                  <p>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                  </p>
                  <label for="password" class="sr-only">Password</label>
                  <p>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                  </p>
                  <label for="password" class="sr-only">Password</label>
                  <p>
                    <input type="text" id="userType" name="userType" class="form-control" placeholder="type admin or basic" required>
                  </p>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                </form>
              </div>
            </div>
          </div>
      </section>

      <%- include ("includes/footer.ejs") %>
        <%- include ("includes/end.ejs") %>